
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color:rgba(78, 71, 255, 0.08);
}
/* header section */ 

.header{
    background-image:url(Hero-bg.png) ;
    
}

.h3{
    color: #4E47FF;
    font-weight: 800;
    font-size: 46px;
}
nav{
     display: flex;
     justify-content: space-between;
     margin: 25px 150px;
     align-items: center;
}

.button-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 15px 36px;
    border-radius: 10px;
    border: none;
}
.banner-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 267px 130px;
    font-size: 35px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom:100px ;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 20px;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: ;
    gap: 30px;


}
img{
    border-radius: 20px;
}
.para{
    color: rgba(37, 36, 50, 0.5);
    font-size: 24px;
}
.h2{
    font-weight: bold;
    font-size: 42px;
}

.p{
    color: rgba(37, 36, 50, 0.5);
    font-size: 20px;
    padding-top: 0px;
}

.review{
    padding-top: 50px;
    padding-right: auto;
    padding-left: auto;
    padding-bottom: 50px;
    background-color:rgba(78, 71, 255, 0.27);
    margin: 200px;
    border-radius: 20px;


}


.review-num{
    display: flex;
    justify-content: center;
    gap: 130px;
    padding-bottom: 50px;

}

.h2-main1{
    text-align: center;
    font-weight:bold;
    font-size: 38px;
}
.review-h1{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;

}
.g-i-t-h{

    font-weight: bold;
    font-size: 90px;
}

.get-in-touch{
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 100px;
    align-items: center;
    
}

input[type="email"]{
    display: block;
    height: 50px;
    width: 350px;
    border: solid 1px  rgba(37, 36, 50, 0.5);
    border-radius: 10px;

}
input[type="name"]{
    display: block;
    height: 50px;
    width: 350px;
    border: solid 1px  rgba(37, 36, 50, 0.5);
    border-radius: 10px;

}

textarea{
 
    border: solid 1px  rgba(37, 36, 50, 0.5);
    border-radius: 10px;
    display: block;
    width: 350px;
    

}

.mi{
    font-size: 18px;
    font-weight: bold;
}
.button-primary2{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 15px 36px;
    border-radius: 10px;
    border: none;
    width: 350px;
    margin-left: 5px;
}

footer{
    background-color: #ffffff;
    padding-top: 60px;
    margin-bottom: 200px;
}
.logo-h1{
     color: #4E47FF;
    font-weight:bolder;
    font-size: 95px;
    text-align: center;
}
.footer-p{
    text-align: center;
     color: rgba(37, 36, 50, 0.5);
}
.last-textr-abba{
    display: flex;
    justify-content: center;
    gap: 40px;
    color: rgba(37, 36, 50, 0.5);
    padding-bottom: 100px;
}